{% extends 'base.html.twig' %}

{% block title %}Welcome to MovieLister{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to MovieLister!</h1>
            <p class="lead">Your number one source for all things movies.</p>
            <hr class="my-4">
            <p>Explore our vast collection of movies, rate your favorites, and discover new ones!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock %}