{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="bg-yellow-500 text-2xl text-center font-bold">MovieFindr</h1>

    <img src="{{ asset('build/images/image1.5323f65c.jpg') }}" alt="">

{% endblock %}